.letterrow-container {
    display: flex;
    justify-content: space-between;

    &.shake {
        animation-name: shake;
        animation-duration: 500ms;
    }

	&.popbounce {
        animation-name: popbounce;
        animation-duration: .5s;
    }
}

.lettercol-container {
    margin: 3px;
	transition: transform 180ms;

	&.fold {
		transform: scaleY(0);
	}

	&.bounce {
        animation-name: bounce;
        animation-duration: 1s;
    }

}

.letterboard-container {
    min-width: 350px;
    min-height: 420px;
    background-color: rgba(0, 128, 255,.7);
	margin: 0 10px;
}

.letterbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
    font-weight: 10px;
    border: 2px solid #d3d6da;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    box-sizing: border-box;

    background-color: rgba(255, 255, 255, .2);

	
	&.active {
		border: 3px black solid;
	}
}


.keyboard-container {
	margin: 10px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 365px;

	.keyboard-row {
		display: flex;
		align-items: center;
		margin-top: 6px;
	}

	.key {
		height: 30px;
		min-width: 30px;
		margin-right: 6px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		border-radius: 4px;
		background-color: #d3d6da;
		font-size: 13px;
		font-weight: bold;
		user-select: none;
		color: black;

		&.enter {
			padding: 0 11px;
			text-transform: uppercase;
		}

		&.backspace {
			padding: 0 11px;
			text-transform: uppercase;

			img {
				height: 20px;
			}
		}

		&.correct {
			background-color: rgba(106, 170, 100,.80);
		}

		&.partial {
			background-color: rgba(255, 177, 0, 75%);
		}

		&.wrong {
			background-color: rgba(120, 124, 126,.60);
		}

		&:hover {
			background-color: #bbb;
		}
	}
}

.main-gameboard-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	border-radius: 32px;
    background-color: rgba(0, 128, 255, 0.7);
    padding: 20px 10px;
}
/*
PENDING  = #0080FF
PARTIAL = #c9b458
WRONG = #787c7e
CORRECT = #6aaa64
*/

.pending-state {
    background-color: rgba(0, 128, 255,.60);
}

.partial-state {
    background-color: rgba(255, 177, 0, 75%);
}
.wrong-state {
    background-color: rgba(120, 124, 126,.60);
}
.correct-state {
    background-color: rgba(106, 170, 100,.80);
}

// Animation for entering a letter.
@keyframes letter-pop {
	0% { transform: scale(1); }
	50% { transform: scale(1.15); }
	100% { transform: scale(1); }
}


// Stole from wordle css.
@keyframes shake {
	10%,
	90% {
	  	transform: translateX(-1px);
	}

	20%,
	80% {
		transform: translateX(2px);
	}

	30%,
	50%,
	70% {
		transform: translateX(-4px);
	}

	40%,
	60% {
		transform: translateX(4px);
	}
}

// Again, got this from wordle css:)
@keyframes bounce {
	0%, 20% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30px);
	}
	50% {
		transform: translateY(5px);
	}
	60% {
		transform: translateY(-15px);
	}
	80% {
		transform: translateY(2px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes popbounce {
	from{transform:scale(1)}
	50%{transform:scale(1.04)}
	to{transform:scale(1)}
}

.playerinfo-container {
	width: 95%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin-bottom: 15px;
}

.health-bar-container {
	width: 100%;
	height: 1rem;
	position: relative;

	.progress {
		position: absolute;
		width: 100%;
	}
	
	.progress-bar {
		position: absolute;
		height: 100%;
	}
}

.board-container {
    position: relative;
	width: 100%;
}

.dead-cross-container {
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
	.x-mark {
		fill: red;
		width: 100%;
		height: 420px;
	}
}

.saturate-dark {
	transition: filter 1.5s ease 0s;
    filter: saturate(10%);
}