<!-- <p>{{roomData | json}}</p> -->

<div class="room-header">
    <h1>Waiting Room</h1>
    <h5>Lobby count - {{roomData?.roomData?.boardData !== undefined ? roomData?.roomData?.boardData.length : 0}}</h5>
    <h5>Max Lobby Size - {{lobbyConfig?.maxPlayerCount}}</h5>
</div>
<div class="room-container">
    <div class="config-container" *ngIf="lobbyConfig !== undefined">
        <div class="config-detail">
            <span>
                <label>Number of words: </label>
                <!-- {{roomData?.roomData?.config["numberWords"]}} -->
            </span>
            <div class="selector">
                <select class="form-select form-select-sm" [disabled]="isHost !== true" [ngModel]="lobbyConfig['numberWords']" (ngModelChange)="changeNumberWords($event)">
                    <option *ngFor="let amount of numberWordsOptions" [value]="amount" [selected]="lobbyConfig['numberWords'] === amount">
                    {{amount}}
                    </option>
                </select>
            </div>

        </div>
        <div class="config-detail">
            <span>
                <label>Word Length: </label>
                <!-- {{roomData?.roomData?.config["wordLength"]}} -->
            </span>
            <div class="selector">
                <select class="form-select form-select-sm" [disabled]="isHost !== true"  [ngModel]="lobbyConfig['wordLength']" (ngModelChange)="changeWordLength($event)">
                    <option *ngFor="let lengthOpt of wordLengths" [value]="lengthOpt" [selected]="lobbyConfig['wordLength'] === lengthOpt">
                    {{lengthOpt}}
                    </option>
                </select>
            </div>
        </div>        
        <div class="config-detail">
            <span>
                <label>Max Number of tries: </label>
                <!-- {{roomData?.roomData?.config["numTries"]}} -->
            </span>
            <div class="selector">
                <select class="form-select form-select-sm" [disabled]="isHost !== true"  [ngModel]="lobbyConfig['numTries']" (ngModelChange)="changeNumberAttempts($event)">
                    <option *ngFor="let tries of numberTriesOptions" [value]="tries"  [selected]="lobbyConfig['numTries'] === tries">
                    {{tries}}
                    </option>
                </select>
            </div>
        </div>        <div class="config-detail">
            <span>
                <label>Max player count: </label>
                <!-- {{roomData?.roomData?.config["maxPlayerCount"]}} -->
            </span>
            <div class="selector">
                <select class="form-select form-select-sm" [disabled]="isHost !== true" [ngModel]="lobbyConfig['maxPlayerCount']" (ngModelChange)="changeLobbySize($event)">
                    <option *ngFor="let lobbySize of lobbyMaxSizeOptions" [value]="lobbySize" [selected]="lobbyConfig['maxPlayerCount'] === lobbySize">
                    {{lobbySize}}
                    </option>
                </select>
            </div>

        </div>        
        <div class="config-detail">
            <span>
                <label>Dot damage: </label>
                <!-- {{roomData?.roomData?.config["dotDamage"]}} -->
            </span>
            <div class="selector">
                <select class="form-select form-select-sm" [disabled]="isHost !== true" [ngModel]="lobbyConfig['dotDamage']" (ngModelChange)="changeDotDamage($event)">
                    <option *ngFor="let dotChoice of dotOptions" [value]="dotChoice" [selected]="lobbyConfig['dotDamage'] === dotChoice">
                    {{dotChoice}}
                    </option>
                </select>
            </div>
        </div>

        <div class="config-detail">
            <span>
                <label>Private Room: </label>
                <!-- {{roomData?.roomData?.config["dotDamage"]}} -->
            </span>
            <div class="selector">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="privateRoomSwitch" [disabled]="isHost !== true" checked [ngModel]="lobbyConfig['isPrivateRoom']" (ngModelChange)="togglePrivateRoom($event)">
                  </div>
            </div>
        </div>
    </div>

    <div class="playerlist-container">
        <div class="player-row" *ngFor="let board of playerBoards"> 
        <!-- <div class="player-row" *ngFor="let board of mockPlayerList">  -->

            <div class="player-info" [ngClass]="{'highlight-player': board?.playerId === this.currentPlayerBoard?.playerId}">
                {{ board?.playerData?.playerName }}  <svg *ngIf="board?.isLobbyHost === true" xmlns="http://www.w3.org/2000/svg" class="host-icon" viewBox="0 0 576 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M309 106c11.4-7 19-19.7 19-34c0-22.1-17.9-40-40-40s-40 17.9-40 40c0 14.4 7.6 27 19 34L209.7 220.6c-9.1 18.2-32.7 23.4-48.6 10.7L72 160c5-6.7 8-15 8-24c0-22.1-17.9-40-40-40S0 113.9 0 136s17.9 40 40 40c.2 0 .5 0 .7 0L86.4 427.4c5.5 30.4 32 52.6 63 52.6H426.6c30.9 0 57.4-22.1 63-52.6L535.3 176c.2 0 .5 0 .7 0c22.1 0 40-17.9 40-40s-17.9-40-40-40s-40 17.9-40 40c0 9 3 17.3 8 24l-89.1 71.3c-15.9 12.7-39.5 7.5-48.6-10.7L309 106z"/></svg>
                <svg *ngIf="board?.playerStatus === 'READY'"class="ready-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M470.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L192 338.7 425.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
                <div *ngIf="board?.playerStatus === 'GAME_OVER'" class="loader-dots"></div>
            </div>        
            <div class="host-actions" *ngIf="isHost === true">
                <button class="kick-btn" (click)="kickPlayer(board?.playerId)">
                    <svg *ngIf="board?.isLobbyHost === false" class="kick-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z"/></svg>
                </button>
            </div>
        </div>
        
    </div>

    <div class="action-bar-container">
        <button *ngIf="isHost === true" class="vertical-stacked-btn btn btn-primary" (click)="startLobby()">Start Game</button>
        <button *ngIf="isHost === false" class="vertical-stacked-btn btn btn-primary" (click)="togglePlayerReadyStatus()">Ready</button>
        <button class="control-btn btn btn-primary" (click)="leaveLobby()">Leave Room</button>
    </div>
</div>



<div class="lobby-code-container" (click)="copyLobbyCode()">
    <p class="lobby-code-header">Lobby Code</p>
    <h4 class="lobby-code-text">
        {{roomData?.roomId}}
    </h4>
</div>